@{
    ViewBag.Title = "Import";
}
<style>
    .row {
        margin: 5px 0;
    }

    .margin-left {
        margin-left: 20px;
    }
</style>

<h2>Import</h2>
<form action="@Url.Action("Import","Master")" method="post" enctype="multipart/form-data" name="Upload" id="Upload">
    <div class="panel panel-default">
        <div class="panel-heading">Upload</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <label>PromotionID</label>
                    <input type="text" name="PromotionID" class="form-control" value="@ViewBag.PromotionID" readonly />
                </div>
                <div class="col-sm-3">
                    <label>File</label>
                    <input type="file" name="excelFile" class="form-control" accept=".xls" required />
                </div>
                <div class="col-sm-3">
                    <label>Degit</label>
                    <input type="text" name="degit" class="form-control" value="@ViewBag.Degit" required placeholder="11" maxlength="2" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">

                    <button type="submit" class="btn btn-info" form="Upload" style="margin-top:1em;">submit</button>
                </div>
            </div>
            @*<div class="form-inline ">

                    <div class="form-group margin-left">
                        <label>PromotionID</label>
                        <input type="text" name="PromotionID" class="form-control" style="width:80px;margin:0 10px;" value="@ViewBag.PromotionID" readonly />
                    </div>

                    <div class="form-group">
                        <label>File</label>
                        <input type="file" name="excelFile" class="form-control" accept=".xls" required />
                    </div>
                    <div class="form-group margin-left">
                        <label>Degit</label>
                        <input type="text" name="degit" class="form-control" value="@ViewBag.Degit" required placeholder="11" maxlength="2"/>
                    </div>

                </div>

                <div class="form-inline ">

                    <div class="form-group margin-left">
                        <label>Game Server</label>
                        <select ng-model="input.ServerID" class="form-control" name="ServerID" ng-disabled="input.Status > 1"
                                ng-options="ser.ServerId as ser.ServerName for ser in server"></select>
                    </div>
                    <div class="form-group">
                        <label>Item ID(In-Game)</label>
                        <input type="text" class="form-control" ng-model="input.ItemID" name="itemId" placeholder="" value="" />
                    </div>

                    <button type="submit" class="btn btn-info" form="Upload">submit</button>
                </div>*@
        </div>
    </div>
</form>
<div class="row">
    <form name="ImportMasterCode" ng-app="MyApp" ng-controller="ImportMasterCodeController" id="ImportMasterCode">
        <div class="panel panel-default">
            <div class="panel-heading">Validation</div>
            <div class="panel-body">


                <div class="">

                    
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Game Server</label>
                            <select ng-model="input.ServerID" class="form-control" id="ServerID" name="ServerID" ng-disabled="input.Status > 1"
                                    ng-options="ser.ServerId as ser.ServerName for ser in server"></select>
                        </div>
                        <div class="col-sm-3">
                            <label>Item ID(In-Game)</label>
                            <input type="text" class="form-control" ng-model="input.ItemID" id="itemId" name="itemId" placeholder="" value="" />
                        </div>
                    </div>


                    <div class="row">
                        <ul>
                            @if (ViewBag.Validlist != null)
                            {
                                foreach (string item in ViewBag.Validlist)
                                {
                                    <li>@item</li>
                                }
                            }
                        </ul>

                    </div>
 
                    <input type="hidden" name="filename" id="filename" value="@ViewBag.FileName" required />
                    <input type="hidden" name="promotionid" id="promotionid" value="@ViewBag.PromotionID" required />
                    @if (ViewBag.TotalValid != null && ViewBag.Total > ViewBag.TotalValid)
                    {
                        <div class="form-group margin-left">
                            <button class="btn btn-success" type="button" form="Save" id="submit-btn" ng-click="SaveImport()">Submit</button>
                        </div>
                    }
                    else // if (ViewBag.TotalValid != null && ViewBag.TotalValid > 0)
                    {
                        <div class="form-group margin-left">
                            <button class="btn btn-danger">Undo</button>
                        </div>
                    }
                    

                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Total record :</strong> @(ViewBag.Total == null ? 0 : ViewBag.Total)&nbsp;|&nbsp;
                            <strong>Total valid :</strong> @(ViewBag.TotalValid == null ? 0 : ViewBag.TotalValid)
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>

    

    <table class="table table-bordered">
        <thead>
            <tr>
                <td width="10%">IDX</td>
                <td width="10%">PromotionID</td>
                <td align="center">Code</td>
                <td width="10%">Status</td>
            </tr>
        </thead>
        <tbody id="tbody">
            @if (ViewBag.TempData != null)
            {
                int i = 1;
                foreach (Awecent.Back.Serial.Models.ItemCode item in ViewBag.TempData)
                {
                    <tr>
                        <td>@i</td>
                        <td>@ViewBag.PromotionID</td>
                        <td>@item.Code</td>
                        <td>Temp</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">

    function resetTable() {
        $("#tbody").html("<tr> <td></td> <td></td> <td></td> <td></td></tr>");
    }
    var itemId = "", serverId = "";

    angular.module('MyApp', ['ui.bootstrap'])
        .controller('ImportMasterCodeController', ['$scope', '$http', function ($scope, $http) {
            $scope.input = {};

            var data = $.param({
                GameID: "@ViewBag.GameID"
            });
            var config = {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                }
            }
            $http.post('@Url.Action("GetGameServer", "Master")', data, config)
                .success(function (data, status, headers, config) {
                    $scope.server = data.Server;
                    console.log(data.Server);
                })
                .error(function (data, status, header, config) {
                    $scope.ResponseDetails = "Data: " + data +
                        "<hr />status: " + status +
                        "<hr />headers: " + header +
                        "<hr />config: " + config;
                });

  

            $scope.SaveImport = function () {

                $scope.input.id = $('#filename').val();
                $scope.input.promotionid = $('#promotionid').val();
                $scope.input.key = "@ViewBag.key";

                if ($scope.input.id == null) return;
                $('#spinner').toggle(true);

                $http.post('@Url.Action("SaveImport", "Master")', $scope.input)
                    .success(function (d) {
                        $('#spinner').toggle(false);
                        console.log('result', d);
                        if (d.Result) {
                            notifySuccess(d.Message);
                            $("#submit-btn").attr("disabled", true);
                            resetTable();
                        } else {
                            notifyError(d.Message);
                        }
                    });
            }
        }]);


   


</script>