@{
    ViewBag.Title = "Index";
}
<style>
    .row {
        margin: 5px 0;
    }

    div#myModalUpdate .modal-dialog {
        width: 70%;
    }
</style>
<h2>Master Code</h2>
<form ng-app="MyApp" ng-controller="MasterCodeController" name="ValidateForm" id="ValidateForm">
    @Html.AntiForgeryToken()
    <div class="row"><a class="btn btn-sm btn-primary" href="@Url.Action("Create","Master")">Create</a></div>
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">Filter</div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <label>Game Name</label>
                    <select ng-model="input.GameID" ng-change="findPromotion()" class="form-control" name="GameID">
                        @foreach (Awecent.Back.Serial.Models.Game game in ViewBag.Games)
                        {
                            <option value="@game.GameId">@game.GameName</option>
                        }
                    </select>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-info" type="button" ng-click="search()" style="margin-top:23px;">Search</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Promotions</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>ProID</td>
                            <td>Name</td>
                            <td>Code</td>
                            <td>CreateDate</td>
                            <td>Create by</td>
                            <td>StartDate</td>
                            <td>EndDate</td>
                            <td>Status</td>
                            <td>#</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="object in table">
                            <td>{{object.PromotionID}}</td>
                            <td>{{object.PromotionName}}</td>
                            <td>{{object.Code}}</td>
                            <td>{{convertDate(object.CreateDate) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{object.CreateUser}}</td>
                            <td>{{convertDate(object.StartDate) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{convertDate(object.EndDate) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{showStatus(object.Status)}}</td>
                            <td>
                                <a href="javascript://" ng-click="getDetail($index);showModel()">edit</a>

                                @if (User.IsInRole("Administrator"))
                                {
                                    <text>
                                <a href="javascript://" ng-show="object.Status == 4" ng-click="setStatus(object.PromotionID ,object.Status)">pending</a>
                                <a href="javascript://" ng-show="object.Status == 3" ng-click="setStatus(object.PromotionID , object.Status)">active</a>
                                        <a href="javascript://" ng-show="object.Status == 1" ng-click="delete(object.PromotionID)">delete</a>
                                    </text>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>

                <uib-pagination total-items="input.total" ng-model="input.page" max-size="20"
                                ng-change="search()" items-per-page="input.pageSize"></uib-pagination>


            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Master/_UpdateModel.cshtml")

</form>
@section Scripts{
    <script type="text/javascript">
        angular.module('MyApp', ['ui.bootstrap']).controller('MasterCodeController', ['$scope', '$http', function ($scope, $http) {
            $scope.input = {};
            $scope.input.page = 1;
            $scope.input.pageSize = 5;
            $scope.input.total = 0;

            $scope.serialtypes = [{ id: '1', name: 'Master Serial' }, { id: '2', name: 'Raw Serial' }];
            $scope.generateTypes = [{ id: '1', name: 'Generate' }, { id: '2', name: 'Import' }];

            $scope.table = [];
            $scope.delete = {};
            $scope.delete.id = 0;
            $scope.delete.__RequestVerificationToken = encodeURIComponent($('input[name="__RequestVerificationToken"]').val());

            $scope.showModel = function () {
                $('#myModalUpdate').modal('show')
            }
            $scope.closeModel = function () {
                $('#myModalUpdate').modal('toggle')
            }

            $scope.showStatus = function (s) {
                if (s == "1") return "New Create";
                else if (s == "2") return "In Progress";
                else if (s == "3") return "Pending";
                else if (s == "4") return "Active";
                else if (s == "5") return "Inactive";
            }

            $scope.search = function () {
                $scope.table = [];
                $('#spinner').toggle(true);
                $http.post('@Url.Action("SearchMaster", "Master")', $scope.input)
                        .success(function (d) {
                            $('#spinner').toggle(false);
                            if (d.Result) {
                                $scope.table = d.Data;
                                $scope.input.total = d.Total;
                                notifyInfo("record " + d.Data.length + '/' + d.Total);
                            }
                        }).error(function (e) {
                            $('#spinner').toggle(false);
                            console.log(e);
                            notifyError('500 server error.');
                        });;
            }

            $scope.getDetail = function (index) {
                $scope.input = $scope.table[index];
                $scope.input.StartDate = $scope.convertDate($scope.table[index].StartDate);
                $scope.input.EndDate = $scope.convertDate($scope.table[index].EndDate);
                $scope.input.Status = parseInt($scope.table[index].Status);
            }

            $scope.saveChange = function () {
                console.log('saveChange', $scope.input);// return;
                $('#spinner').toggle(true);
                $http.post('@Url.Action("UpdateMaster", "Master")', $scope.input)
                    .success(function (d) {
                        $('#spinner').toggle(false);
                        $scope.closeModel();
                        if (d.Result) {
                            notifySuccess(d.Message);
                            return;
                        }
                        notifyError(d.Message);
                    }).error(function (e) {
                        $('#spinner').toggle(false);
                        console.log(e);
                        notifyError('500 server error.');
                    });
            }

            $scope.convertDate = function (strDate) {
                if (strDate == null) return;
                if (strDate instanceof Date) return strDate;
                var milisec = strDate.substring(6, strDate.length - 2);
                var longMili = parseFloat(milisec);
                var myDate = new Date(longMili);
                return myDate;
            }

            $scope.importCode = function () {
                //alert('Promotion id' + $scope.input.PromotionID);
                window.location = '@Url.Action("Import","Master")/'+ $scope.input.PromotionID;
            }
            $scope.generateCode = function () { window.location = '@Url.Action("Generate","Master")'; }

            $scope.setStatus = function (id ,status) {
                if (status == '3') {
                    if (!confirm('Confirm active promotion id : ' + id + ' ? ')) { return; }
                } else if (status == '4') {
                     if (!confirm('Confirm pending promotion id : ' + id + ' ? ')) { return; }
                }
                $('#spinner').toggle(true);
                $http.get('@Url.Action("ChangeStatus", "Master")/' + id)
                    .success(function (d) {
                        $('#spinner').toggle(false);
                        if (d.Result) {
                            notifySuccess(d.Message);
                            $scope.search();
                        }
                        else notifyError(d.Message);
                    }).error(function (e) {
                        $('#spinner').toggle(false);
                        console.log(e);
                        notifyError('500 server error.');
                    });
            }


            $scope.delete = function (id) {
                if (!confirm('Confirm delete promotion id : ' + id + ' ? ')) { return; }
                $('#spinner').toggle(true);
                $http.get('@Url.Action("Delete", "Master")/' + id)
                .success(function (d) {
                    $('#spinner').toggle(false);
                    console.log('delete', d);
                    if (d.Result) { notifySuccess(d.Message); $scope.search(); }
                    else notifyError(d.Message);
                }).error(function (e) {
                    $('#spinner').toggle(false);
                    console.log(e);
                    notifyError('500 server error.');
                });
            }

        }]);



    </script>
}