@{
    Layout = null;
    ViewBag.Title = "SignIn";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/SignIn.css" rel="stylesheet" />


    <style>

        form.sky-form {
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            width: 100%;
            max-width: 580px;
        }

            form.sky-form .label {
                display: inline;
                padding: .2em .6em .3em;
                font-size: 119%;
                font-weight: bold;
                text-align: left;
                line-height: 1;
                color: #aaa;
                text-align: right;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25em;
            }
    </style>

</head>
<body class="bg-cyan">


    <div class="container">
        <div class="row">
            <form action="@Url.Action("ValidateAccount", "Auth")" method="post" name="Sigin" id="Sigin"
                  class="sky-form">
                <header>Awecent Authentication - Login</header>

                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">E-mail</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append icon-user"></i>
                                    <input type="text" name="Email" placeholder="Email" />
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="row">
                            <label class="label col col-4">Password</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append icon-lock"></i>
                                    <input type="password" name="Password" placeholder="Password" />
                                </label>
                                <div class="note"><a href="#">Forgot password?</a></div>
                            </div>
                        </div>
                    </section>


                </fieldset>
                <footer>
                    <button id="sb-form" class="button" type="button" onclick="Send()">Log in</button>
             
                </footer>
            </form>

        </div>
    </div>

    <script type="text/javascript">


        $("#Sigin").validate({
            rules: {
                Email: { required: true, email: true },
                Password: { required: true },
            }
        });

        function Send() {
            if (!$("#Sigin").valid()) return;
            $("#Sigin").submit();
        }

        $(function () {

            $('input').keypress(function (e) {
                if (e.which == 13) {

                    $("#sb-form").click();
                    $('form#login').submit();
                    
                }
            });
            

        });
        



    </script>
</body>
</html>
